.added .am-tabs-ink-bar {
    background: white;
}
.added .am-tabs-bar .am-tabs-tab {
    border-color:#c83a36;
    background-color: #c83a36;
    color:#ffc4c4;
}
.added .am-tabs-bar .am-tabs-tab-active {
    color:white;
}
.added-container {
    padding:.3rem .3rem 0;
}
.icon-time {
    right:0;
    width: .85rem;
    height: 100%;
    background:url('../../../../static/images/time.png') no-repeat 50% 50%;
}
#common-header .icon-time {
    background-size: .37rem;
}

.applicationButton.application {
    width:50%;
    margin: 0 auto .6rem;
}